In [1]:
Tuple=('hello')
n=3
for i in range(int(n)):
  Tuple=(Tuple,)
  print(Tuple)

('hello',)
(('hello',),)
((('hello',),),)

Built in functions

In [2]:
tuple=('developer',5,8.9,'r',8)
print(len(tuple))

5

In [4]:
tuple=(9,5,89,4,8)
print(max(tuple))

89

In [5]:
tuple=(9,5,89,4,8)
print(min(tuple))

4

In [6]:
tuple=(9,5,89,4,8)
print(sum(tuple))

115

In [7]:
tuple=(9,5,89,4,8)
print(sorted(tuple))

[4, 5, 8, 9, 89]

In [8]:
tuple=(0,1)
print(any(tuple))

True

In [9]:
tuple=(0,)
print(any(tuple))

False

In [10]:
tuple=(4,1)
print(all(tuple))

True

In [11]:
tuple=(0,5,7)
print(all(tuple))

False

In [12]:
tuple=()
print(all(tuple))

True

In [15]:
tuple=("apple","byte","computer")
n=2
for i in range(n):
  print(tuple[i])

apple
byte

In [16]:
tuple=("apple","byte","computer")
n=2
for i in range(n):
  print(tuple[i])
  break

apple

In [17]:
tuple=("apple","byte","computer")
print(list(tuple))

['apple', 'byte', 'computer']

In [18]:
tuple=("apple","byte","computer")
print(len(tuple))

3

In [21]:
tuple=(3,7,'p','y','z',9.5,'y')
print(tuple.index('y'))

3

In [22]:
tuple=(3,7,'p','y','z',9.5,'y')
print(tuple.index(7))

1

In [23]:
example=()
print(example)

()

In [28]:
value_tuple=(26,45,'hello')
value=("a")
type(value)
tuple

(3, 7, 'p', 'y', 'z', 9.5, 'y')

In [29]:
value_tuple=(26,45,'hello',7.5)
value_tuple

(26, 45, 'hello', 7.5)

In [31]:
value_tuple[2]='Python'

TypeError: 'tuple' object does not support item assignment

In [36]:
value1_tuple=(26,46,'hello')
value2_tuple=7,5.6,"python"
value_3=value1_tuple+value2_tuple
value_3

(26, 46, 'hello', 7, 5.6, 'python')

In [38]:
value1_tuple=value1_tuple+(7,)
value_tuple

(26, 45, 'hello', 7.5)

In [39]:
converted_list=list(value1_tuple)
converted_list

[26, 46, 'hello', 7, 7]

In [40]:
converted_list.append(7)
converted_list

[26, 46, 'hello', 7, 7, 7]

In [41]:
value1_tuple=tuple(converted_list)
value1_tuple

TypeError: 'tuple' object is not callable

In [42]:
value_tuple=(26,46,'hello',)*2
value_tuple

(26, 46, 'hello', 26, 46, 'hello')

Write a Python Program to get the Tuple values from the user and print it.

In [46]:
value=()
n=int(input())
list_1=[]
for i in range(n):
  list_1.append(int(input()))
value=tuple(list_1)

4
12
10
26
6

TypeError: 'tuple' object is not callable

In [1]:
a=(10,20,30)
b=list(a)
b.append(7)
x=tuple(b)
x

(10, 20, 30, 7)

In [2]:
number=("One","Two","Three","Four")
i=0
while i<len(number):
  print(number[i])
  i+=1

One
Two
Three
Four

In [3]:
number=("One","Two","Three","Four")
for i in number:
  print(i)

One
Two
Three
Four

In [4]:
value_tuple=(26,12,10,6,67,91,45,'hello',7.5,99,7,"Name")
print(value_tuple[6])
value_tuple[-6]

45

45

In [6]:
numbers=("One","Two","Three","Four")
(a,b,c,d)=numbers
print(a)

One

In [7]:
numbers=("One","Two","Three","Four")
(a,*b,c)=numbers
print(a)
print(*b)
print(c)

One
Two Three
Four

In [9]:
value_set={2,'PYTHON','a',5,9.4}
for i in value_set:
  print(i)

2
a
5
PYTHON
9.4

In [10]:
value_set={2,'PYTHON','a',5,9.4}
print(7 in value_set)

False

In [15]:
value_set={2,'PYTHON','a',5,9.4}
value_set.add("apple")
print(value_set)

{2, 'apple', 'a', 5, 'PYTHON', 9.4}

In [14]:
value_set={2,'PYTHON','a',5,9.4}
print("PYTHON" in value_set)

True

In [16]:
value_set={2,'PYTHON','a',5,9.4}
print(len(value_set))

5

In [18]:
value_set={2,'PYTHON','a',5,9.4}
value_set.remove('PYTHON')
print(value_set)

{2, 'a', 5, 9.4}

In [19]:
value_set={2,'PYTHON','a',5,9.4}
value_set.discard('PYTHON')
print(value_set)

{2, 'a', 5, 9.4}